<form class="ui form" method="post" action="{{ route('land/pms/IndexController.save') }}" enctype="multipart/form-data">
  <div class="ui segments">
    <div class="ui attached segment flex-between">
      <b>设计稿件</b>
      <div class="ui labels">
        <a class="ui small grey label" onclick="uploadFile()">上传文件</a>
        <a class="ui small green label" onclick="nodeNotifications()">节点推送</a>
      </div>
    </div>
  </div>
</form>
